@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.latestPostdivv {
  background-color: #a5f3fc;;
  width: 300px;
  height: 245px;
  margin-top: 30px;
  margin-left: 30px;
}

.image {
  margin-top: 9px;
  margin-left: 9.5px;
  width: 280px;
  height: 150px;
  border-radius: 5px;
}

.heading {

    font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  margin-left: 9px;
}
